*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

input, select, button {
    outline: unset;
    border: unset;
    font-size: inherit;
    font-family: inherit;
    background-color: unset;
    display: block;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}