*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

/* COLORS */
/* RESPONSIVE */
/* FLEX */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* TEXT */
.link:hover {
  text-decoration: underline;
}

/* | BODY */
body {
  color: #fff;
  background-color: #181719;
  --padding-h: .75rem;
  padding: 0 var(--padding-h);
}

@media screen and (min-width: 950px) {
  body {
    --padding-h: 4.8125rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.wrapper {
  width: 100%;
  max-width: calc(1440px - var(--padding-h) * 2);
  margin: 1.5rem 0;
}

@media screen and (min-width: 950px) {
  .wrapper {
    margin: 2.625rem 0;
  }
}

/* | HEADER */
.header .logo {
  float: left;
  text-transform: uppercase;
  font-size: .875rem;
  font-family: "Crimson Pro", sans-serif;
  padding: 0.5rem;
  border: 1px solid #fff;
  cursor: pointer;
}

.header .menu-button {
  font-size: 2.4rem;
}

@media screen and (min-width: 950px) {
  .header .menu-button {
    display: none;
  }
}

.header .nav {
  position: fixed;
  z-index: 2;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #181719;
  -webkit-box-shadow: -30px 0 30px rgba(0, 0, 0, 0);
          box-shadow: -30px 0 30px rgba(0, 0, 0, 0);
  -webkit-transition: right .3s, -webkit-box-shadow .15s;
  transition: right .3s, -webkit-box-shadow .15s;
  transition: right .3s, box-shadow .15s;
  transition: right .3s, box-shadow .15s, -webkit-box-shadow .15s;
}

@media screen and (min-width: 950px) {
  .header .nav {
    position: relative;
    right: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    -webkit-transition: none;
    transition: none;
  }
}

.header .nav.show {
  right: 0;
  -webkit-box-shadow: -30px 0 30px rgba(0, 0, 0, 0.3);
          box-shadow: -30px 0 30px rgba(0, 0, 0, 0.3);
}

.header .nav .menu-button {
  position: absolute;
  top: 1.5rem;
  right: var(--padding-h);
}

.header .nav .nav-list {
  text-align: center;
  position: relative;
  line-height: 4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 950px) {
  .header .nav .nav-list {
    top: 0;
    -webkit-transform: none;
            transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: unset;
  }
  .header .nav .nav-list li:not(:last-child) {
    margin-right: 5.375rem;
  }
}

.header .nav .nav-list .list-item {
  font-size: 1.125rem;
}

.header .nav .nav-list .list-item.active {
  font-weight: 700;
}

/* | MAIN */
.main {
  height: 100%;
  /* PRESENTATION */
  /* PHOTO */
}

@media screen and (min-width: 950px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -.3rem;
  }
}

.main .presentation-box .title {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
}

@media screen and (min-width: 950px) {
  .main .presentation-box .title {
    font-size: 3rem;
  }
}

.main .presentation-box .desc {
  margin: 1.5625rem 0;
  font-weight: 300;
  font-size: .875rem;
  max-width: 250px;
}

@media screen and (min-width: 950px) {
  .main .presentation-box .desc {
    font-size: 1.5rem;
    max-width: 410px;
    margin: 2.8125rem 0;
  }
}

.main .presentation-box .more-btn {
  font-weight: 600;
  font-size: .875rem;
}

@media screen and (min-width: 950px) {
  .main .presentation-box .more-btn {
    font-size: 1.125rem;
  }
}

.main .presentation-box .more-btn .icon {
  vertical-align: middle;
  margin: 0 0 1px 15px;
  font-size: 1.5rem;
  -webkit-transition: margin-left .15s;
  transition: margin-left .15s;
}

.main .presentation-box .more-btn:hover .icon {
  margin-left: 20px;
}

.main .photo-box {
  margin: 1.8rem 0 6.5rem 0;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 950px) {
  .main .photo-box {
    margin: 0 0 0 2rem;
    max-width: 737px;
  }
}

.main .photo-box .img-photo-box {
  width: 100%;
  min-height: 240px;
  background-color: #828282;
}

.main .photo-box .img-photo-box img {
  display: block;
  width: 100%;
}

.main .photo-box .author-box {
  position: absolute;
  bottom: -5.5rem;
  right: .6rem;
  z-index: 1;
  padding: 0.8125rem 1.25rem 1.5625rem 1.25rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #181719;
  width: 300px;
}

@media screen and (min-width: 950px) {
  .main .photo-box .author-box {
    width: 410px;
    padding: 1.125rem 1.9375rem 2.125rem 1.9375rem;
  }
}

.main .photo-box .author-box .profile-overview .img-box {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: .9rem;
  background-color: #828282;
  border-radius: 50%;
  overflow: hidden;
}

@media screen and (min-width: 950px) {
  .main .photo-box .author-box .profile-overview .img-box {
    margin-right: 1.05rem;
    width: 3.125rem;
    height: 3.125rem;
  }
}

.main .photo-box .author-box .profile-overview .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: .4rem;
  text-align: center;
}

@media screen and (min-width: 950px) {
  .main .photo-box .author-box .profile-overview .author-infos {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.main .photo-box .author-box .profile-overview .author-infos .author-name {
  margin-top: 3px;
  font-size: .75rem;
}

@media screen and (min-width: 950px) {
  .main .photo-box .author-box .profile-overview .author-infos .author-name {
    font-size: .875rem;
    margin-top: 0;
  }
}

.main .photo-box .author-box .profile-overview .author-infos .author-job {
  font-size: .625rem;
  color: #828282;
}

@media screen and (min-width: 950px) {
  .main .photo-box .author-box .profile-overview .author-infos .author-job {
    font-size: .75rem;
  }
}

.main .photo-box .author-box .author-title {
  margin-top: 1.15rem;
  max-width: 210px;
  font-family: "Lora", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
}

@media screen and (min-width: 950px) {
  .main .photo-box .author-box .author-title {
    margin-top: 1.5625rem;
  }
}

/* | FOOTER */
.footer {
  text-align: center;
}

.footer .dev-challenges-profile {
  font-weight: 600;
  color: #828282;
  font-size: .875rem;
  position: relative;
}

.footer .dev-challenges-profile::before {
  content: "";
  position: absolute;
  top: -.7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 65vw;
  background-color: #828282;
}

@media screen and (min-width: 950px) {
  .footer .dev-challenges-profile::before {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */